name: Run API test and publish report

on:
  push:
    branches: [ main ]

jobs:
  Regression:

    name: Run test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout git project
      uses: actions/checkout@v3

    - name: Set up Docker Build
      uses: docker/setup-buildx-action@v1

    - name: Build Docker image
      run: |
          docker build -t my-app:latest .

    - name: Run Docker container and test
      run: |
        docker run --name my-app \
         -e API_KEY=${{ secrets.API_KEY }} \
         -e BASE_URL=${{ secrets.BASE_URL }} \
         -v ${GITHUB_WORKSPACE}/report:/app/report \
         my-app:latest 

    - name: Clean up Docker
      run: |
        docker stop my-app
        docker rm my-app

    - name: Upload Report as Artifact
      uses: actions/upload-artifact@v3
      with:
        name: test-report
        path: ${{ github.workspace }}/report/index.json
        retention-days: 5





