name: Run API test and publish report

on:
  push:
    branches: [ main ]

jobs:
  Regression:

    name: Run test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout git project
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: test/exchange:latest
        build-args: |
          API_KEY=${{ secrets.API_KEY }}
          BASE_URL=${{ secrets.BASE_URL }}

    - name: Run Docker container
      run: |
        docker run --name my-app -d \
        -e API_KEY=${{ secrets.API_KEY }} \
        -e BASE_URL=${{ secrets.BASE_URL }} \
        test/exchange:latest

    - name: Install packages
      run: npm ci
    
    - name: Run lint and test
      run: npm run lint&&export USER_TOKEN=${{ secrets.GO_RES_USER_TOKEN }}&&npm test
    
    - name: Create Report
      uses: phoenix-actions/test-reporting@v8
      id: test-report
      if: success() || failure()
      with:
        name: Generate Result
        path: report/index.json
        reporter: mochawesome-json
    
        
          

    
